apiVersion: 1
datasources:
- name: Loki
  type: loki
  access: proxy
  orgId: 1
  url: http://loki:3100 # Loki is accessible via its service name inside the network
  isDefault: true
  version: 1
  editable: true